@using Pronia.Models;
@model Slider

@{
    ViewData["Title"] = "Detail";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <div style="width:200px; height:auto">
                <img src="~/assets/images/website-images/@Model.Image" style="max-width:100%; max-height:auto" />
            </div>
            <h4>Title: @Model.Title</h4>
            <h4>Description: @Model.Description</h4>
            <h4>Offer: @Model.Offer</h4>
            <a class="btn btn-info" asp-action="Index">Go Back</a>
        </div>
    </div>
</div>
